 <div id="login" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/user/login/" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="">&times;</span>
                        </button>
                        <h5 class="modal-title">登陆</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="phone" placeholder="手机号">
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <input type="password" class="form-control" name="pwd" placeholder="密码">
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="modal-body">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">登陆</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>